#troll {
    width: 60%;
    margin: auto;
}

#question {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 10px;
    background-color: slateblue;
    color: snow;
    font-size: 30px;
}

#answers {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.reverse {
    flex-direction: row-reverse;
}

#answers>div {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    color: white;
    font-size: 30px;
}

#yes {
    background-color: red;
    border-radius: 10px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#no {
    background-color: green;
    border-radius: 10px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}